    <!-- Contact section -->
    <section id="contact-section" class="contact-section">
        <div class="contact-section__left">
            <p class="kate-font">Besoin d’un renseignement ? <span class="gold">Contactez-nous</span></p>
            <div class="adress-container">
                <img src="./assets/img/logo-welcome.svg" alt="Hotello">
                <span class="separator"></span>
                <div class="adress-container__content">
                    <p class="kate-font-little">
                        Hotello Resort
                    </p>
                    <p class="adress">
                        155 avenue de Malakoff <br>75116 Paris, France
                    </p>
                    <hr>
                    <p class="phone">
                        Tél. : <a href="tel:33145002345" title="Téléphonez nous">+33 (1) 45 00 23 45</a>
                    </p>
                    <p class="mail">
                        mail : <a href="mailto:bonjour@hotello.com" title="Envoyez nous un mail">bonjour@hotello.com</a>
                    </p>
                    <div class="rs">
                        <a href="#" title="facebook"><img src="./assets/img/fb-icon.svg" alt="facebook"></a>
                        <a href="#" title="instagram"><img src="./assets/img/instagram-icon.svg" alt="instagram"></a>
                        <a href="#" title="twitter"><img src="./assets/img/twitter-icon.svg" alt="twitter"></a>
                        <a href="#" title="linkedin"><img src="./assets/img/linkedin-icon.svg" alt="linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-section__right">
            <p>Grâce à ce formulaire, vous pouvez nous contacter afin de réserver une chambre, consulter les disponibilités ou juste nous passer le bonjour !</p>
            <form action="">
                <div class="input">
                    <input type="text" name="lastname" id="lastname" placeholder="Nom">
                </div>
                <div class="input">
                    <input type="text" name="firstname" id="firstname" placeholder="Prénom">
                </div>
                <div class="input">
                    <input type="email" name="email" id="email" placeholder="e-mail">
                </div>
                <div class="input">
                    <input type="tel" name="phone" id="phone" placeholder="Téléphone">
                </div>
                <div class="input">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Votre message..."></textarea>
                </div>
                <div class="input checkbox-container">
                   <input type="checkbox" name="checkbox" id="checkbox">
                   <label for="checkbox">J'ai lu et j'ai compris votre politique de confidentialité</label>
                </div>

                <input type="button" value="Envoyer" class="btn btn-gold">
                
            </form>
        </div>
    </section>