    <!-- goodwill section -->
    <section id="goodwill-section" class="goodwill-section">
        <div class="goodwill-section__left">
            <div class="img-container reveal">
                <img src="{{ asset('./assets/img/paris.jpg')}}" alt="Vue de Paris">
            </div>
        </div>
        <div class="goodwill-section__right">
            <p class="kate-font">
                Nous sommes <span class="green">impatients</span> de vous rencontrer
            </p>
            <p>
                À la croisée du Paris de toujours et des effervescences d’une ville en mouvement, le quartier de la Porte Maillot vous situe à l’orée des Champs (Élysées), à la lisière du Bois (de Boulogne) et au seuil du Palais (des Congrès). Une situation incontournable pour bénéficier de toutes les praticités des voyages d’affaires, et pour flâner vers les tentations des grandes enseignes de shopping comme des trésors culturels des plus renommés. <strong>À vos pieds sont toutes les facilités pour profiter des envies typiquement parisiennes.</strong>
            </p>
        </div>
    </section>