<!-- header -->
    <header>
        <div class="logo-container">
            <a href="./index.html" title="Hotello Home">
                <img src="./assets/img/logo-header.svg" alt="Hotello">
            </a>
        </div>

        <!-- BURGER MENU -->
        <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <nav class="menu-desktop">
            <ul>
                <li><a href="./index.html" title="Accueil">Accueil</a></li>
                <li><a href="./nos-chambres.html" title="Nos chambres">Nos chambres</a></li>
                <li><a href="./nos-services.html" title="Nos services">Nos services</a></li>
                <li><a href="./contactez-nous.html" title="Nous contacter">Nous contacter</a></li>
            </ul>
        </nav>
    </header>

    <!-- Mobile Nav -->
    <div class="menu-mobile ">
        <nav>
            <ul>
                <li><a href="./index.html" title="Accueil">Accueil</a></li>
                <li><a href="./nos-chambres.html" title="Nos chambres">Nos chambres</a></li>
                <li><a href="./nos-services.html" title="Nos services">Nos services</a></li>
                <li><a href="./contactez-nous.html" title="Nous contacter">Nous contacter</a></li>
                <li> <hr> </li>
                <li> 
                    <div class="connexion-mobile">
                        <img src="./assets/img/avatar.svg" alt="">
                        <a href="#" title="Connexion">Connexion</a>
                    </div>
                </li>
                <li> <hr> </li>
                <li>
                    <div class="rs">
                        <a href="#"><img src="./assets/img/fb-icon-gold.svg" alt="facebook"></a>
                        <a href="#"><img src="./assets/img/instagram-icon-gold.svg" alt="instagram"></a>
                        <a href="#"><img src="./assets/img/twitter-icon-gold.svg" alt="twitter"></a>
                        <a href="#"><img src="./assets/img/linkedin-icon-gold.svg" alt="linkedin"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Connexion BTN -->
    <div class="connexion">
        <img src="./assets/img/avatar.svg" alt="">
        <a href="#" title="Connexion">Connexion</a>
    </div>