    <!-- Interval section -->
    <section class="interval">
            <div class="img-container reveal">
                <img src="{{ asset('./assets/img/hero-image.jpg')}}" alt="Hotello - espace de réception">
        </div>
        <h3>Découvrez Hotello Resort, un établissement 4 étoiles situé dans le 16<sup>e</sup> arrondissement de Paris proche de la Porte Maillot.</h3>
        <a href="{{path('app_contact')}}" class="btn btn-green" title="Contactez-nous">Contactez-nous</a>
    </section>