    <!-- Room details -->
    <section class="room-details">


        <div class="room-details__container">
            <div class="room-details__container__left">
                <div class="icons-container">
                    <div class="icon bed">
                        <img src="{{ asset('./assets/img/double_bed.svg')}}" alt="lit">
                        <p class="text-detail">1 lit</p>
                    </div>

                    <div class="separator"></div>

                    <div class="icon size">
                        <img src="{{ asset('./assets/img/size-icon.svg')}}" alt="lit">
                        <p class="text-detail">25m<sup>2</sup></p>
                    </div>

                    <div class="separator"></div>

                    <div class="icon adults">
                        <img src="{{ asset('./assets/img/adults-icon.svg')}}" alt="lit">
                        <p class="text-detail">2 adultes</p>
                    </div>

                    <div class="separator"></div>

                    <div class="icon children">
                        <img src="{{ asset('./assets/img/children-icon.svg')}}" alt="lit">
                        <p class="text-detail">0 enfants</p>
                    </div>

                    <div class="separator"></div>
                </div>
            </div>
            <div class="room-details__container__right">
                <div class="price-container">
                    <p class="begin_at">à partir de</p>
                    <p class="price">499<sup>€</sup></p>
                    <p class="by_night">/ nuit</p>
                </div>
            </div>
        </div>

    </section>