    <!-- Room section -->
    <section class="rooms-details-welcome">
            <div class="slider-container">
                <!-- Slideshow container -->
                <div class="slideshow-container">
        
                <!-- Full-width images with number and caption text -->
                {% for photoRoom in photoRooms %}
                    <div class="mySlides fade">
                        <img src="{{ asset( vich_uploader_asset(photoRoom, 'roomImages'))}}" alt="Bienvenue chez Hotello">
                    </div>
                {% endfor %}

                </div>

        
            </div>

            <div class="intro-container">
                <div class="intro-container__left">
                    <h3>Chambre</h3>
                    <h4 class="kate-font">
                        {{room.titleRoom}}
                    </h4>
                </div>
                <div class="intro-container__right">
                </div>
            </div>
    </section>
