    <!-- Room images -->
    <div class="room-images">
        <div class="room-images__container">
            <p>La chambre en images :</p>
            <div class="room-images__container__galery">
                <img src="{{ asset('./assets/img/montaigne-4.jpg')}}" class="image-room-galery" alt="image">
                <img src="{{ asset('./assets/img/montaigne-5.jpg')}}" class="image-room-galery" alt="image">
                <img src="{{ asset('./assets/img/montaigne-6.jpg')}}" class="image-room-galery" alt="image">
            </div>
        </div>
    </div>