    <!-- Room images -->
    <div class="room-images">
        <div class="room-images__container">
            <p>La chambre en images :</p>
            <div class="room-images__container__galery">
            {% for photoRoom in photoRooms %}
                <a data-fslightbox="gallery" href="{{ asset( vich_uploader_asset(photoRoom, 'roomImages'))}}">
                    <img src="{{ asset( vich_uploader_asset(photoRoom, 'roomImages'))}}" class="image-room-galery" alt="{{photoRoom.name}}">
                </a>
            {% endfor %}
            </div>
        </div>
    </div>