    <!-- Room section -->
    <section class="rooms-details-welcome">
            <div class="slider-container">
                <!-- Slideshow container -->
                <div class="slideshow-container">
        
                <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                        <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Bienvenue chez Hotello">
                    </div>
        
                    <div class="mySlides fade">
                        <img src="{{ asset('./assets/img/montaigne-2.jpg')}}" alt="Bienvenue chez Hotello">
                    </div>
        
                    <div class="mySlides fade">
                        <img src="{{ asset('./assets/img/montaigne-3.jpg')}}" alt="Bienvenue chez Hotello">
                    </div>

                </div>

        
            </div>

            <div class="intro-container">
                <div class="intro-container__left">
                    <h3>Chambre</h3>
                    <h4 class="kate-font">
                        Montaigne
                    </h4>
                </div>
                <div class="intro-container__right">
                </div>
            </div>
    </section>
