    <!-- Services section -->
    <section id="service-section" class="service-section">

        <div class="service-section__container reveal">
            <img src="{{ asset('./assets/img/groom-icon.svg')}}" alt="la newsletter Hotello">
            <h2>services</h2>
            <p class="service-section-title">Un peu plus ?</p>
            <hr>
            <p class="service-section-text">Même si nos prestations haut de gamme sont prêtes à combler tous vos besoins, vous souhaiteriez peut être un petit plus ? Nous vous présentons notre gamme de services complémentaires. De quoi rendre votre séjour chez nous encore un peu plus... exclusif !</p>
            <a href="#" class="btn btn-white">nos services</a>
        </div>
        
    </section>