   <!-- SPA section -->
    <section id="spa-section" class="spa-section">
        <div class="spa-section__container reveal">
            <img src="./assets/img/spa-icon-white.svg" alt="le SPA Hotello">
            <h2>SPA et massage</h2>
            <p class="service-section-title">Bien-être & SPA</p>
            <hr>
            <p class="service-section-text">Essence même d’une belle forme, le soin de soi prend là tout son temps, comme la bonne énergie de l’instant. Dans un environnement apaisant de voûtes en pierre de Paris, nimbé de lumières ocrées l’espace bien-être prodigue un luxe de choix.</p>
            <a href="#" class="btn btn-white">En savoir plus</a>
        </div>
    </section>