    <!-- Welcome section -->
    <section id="welcome" class="welcome">

        <div class="welcome-container">
            <!-- left -->
            <div class="welcome-container__left">

                <div class="welcome-container__left__container">
                    <h1>Hotello</h1>
                    <h2>Le plus bel endroit au monde vous attend !</h2>
                    <hr>
                    <p>Réservez maintenant pour obtenir les meilleurs prix</p>

                    <!-- Reservation container -->
                <div class="reservation-container">
                    <!-- Rservation Form -->
                    <form action="">
                        <!-- arrival -->
                        <div class="input-reservation">
                            <label for="arrival">Arrivée</label>
                            <input type="date" id="arrival" name="arrival" value="2023-02-20"  min="2020-01-01" max="2023-12-30">
                        </div>

                        <span class="separator"></span>
                        <!-- departure -->
                        <div class="input-reservation">
                            <label for="departure">Départ</label>
                            <input type="date" id="departure" name="departure" value="2023-02-20"  min="2020-01-01" max="2023-12-30">
                        </div>

                        <span class="separator"></span>
                        <!-- adults -->
                        <div class="input-reservation">
                            <label for="adults">Adulte(s)</label>
                            <select name="adults" id="adults" class="select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>                                
                            </select>
                        </div>

                        <span class="separator"></span>
                        <!-- children -->
                        <div class="input-reservation">
                            <label for="children">Enfant(s)</label>
                            <select name="children" id="children" class="select">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>                                
                            </select>
                        </div>

                        <span class="separator"></span>

                        <input type="button" class="btn btn-green" value="Voir les chambres">
                        <!-- <a href="#" class="btn btn-green" title="Voir les chambres">Voir les chambres</a> -->

                    </form>
                </div>
                </div>


            </div>

            <!-- right -->
            <div class="welcome-container__right">
                <div class="container">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">
            
                    <!-- Full-width images with number and caption text -->
                        <div class="mySlides fade">
                            <img src="./assets/img/hotello-room-welcome-1.jpg" alt="Bienvenue chez Hotello">
                        </div>
            
                        <div class="mySlides fade">
                            <img src="./assets/img/hotello-room-welcome-2.jpg" alt="Bienvenue chez Hotello">
                        </div>
            
                        <div class="mySlides fade">
                            <img src="./assets/img/hotello-room-welcome-3.jpg" alt="Bienvenue chez Hotello">
                        </div>

                    </div>

            
                </div>
            </div>
        </div>
        <div class="intro-container">
            <div class="intro-container__left">
                <h3>Le lieux idéal pour des moments inoubliables !</h3>
            </div>
            <div class="intro-container__right">
                <h4>
                    Depuis longtemps, pour toujours et maintenant.
                </h4>
                <p>
                    Quand les atours se font intemporels, quand les séjours donnent l’envie de retours : voilà les petits luxes du temps… pour toujours. Et voici votre hôtel pour un bien-être de tout instant et un esprit parisien très présent.
                </p>
            </div>
        </div>
    </section>