{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

    <h1>Bonjour {{app.user.firstnameuser}} !</h1> <br>
    <h2>Bienvenue sur l'admisnistration du site Hotello Resort</h2>

{% endblock %}