{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    
    <h1 class="mt-5 text-warning">Bonjour {{app.user.firstnameuser}} !</h1> <br>
    <h2>Bienvenue sur l'admisnistration du site Hotello Resort</h2> <br>
    <p class="text-success">Vous êtes {{ app.user.roles[0] }}.</p><br>

    <hr> <br>
    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
        <p>Vous avez accès à toutes les fonctionnalités de l'administration.</p><br>
    {% elseif app.user.roles[0] == 'ROLE_USER' %}
        <p>Vous avez accès à certaines fonctionnalités de l'administration.</p><br>
    {% endif %}

    <p>Vous pouvez vous déconnecter en cliquant sur le bouton "Déconnexion" en haut à droite de l'écran.</p>


{% endblock %}